@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900
}

/* Make <pre> elements not contribute to the width calculation of parents.
 * Instead, let them be as wide as the parent.
 * This allows a horizontal scrollbar to appear instead of making the whole
 * article wider, overflowing its parent, and going offscreen on phones.
 */
pre {
  contain: inline-size;
}

/* Elm Syntax Highlight CSS */
pre.elmsh {
  padding: 10px;
  margin: 0;
  text-align: left;
  overflow: auto;
}

code.elmsh {
  padding: 0;
}

.elmsh-line:before {
  content: attr(data-elmsh-lc);
  display: inline-block;
  text-align: right;
  width: 40px;
  padding: 0 20px 0 0;
  opacity: 0.3;
}

code.not-prose {
  border-radius: .3em;
  background: rgba(255,229,100,.2);
  padding: .15em .2em .05em;
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.terminal {
  line-height: normal;
}

.ansi-bright-black-fg {
  color: #404040;
}